CrmAPI/1/crmApi.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.solanteq.com/soap-adapter" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.solanteq.com/soap-adapter" targetNamespace="http://www.solanteq.com/soap-adapter">
  <wsdl:types>
    <xs:schema xmlns:slq="http://www.solanteq.com/soap-adapter" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.solanteq.com/soap-adapter">
  <!-- Type definition for "crm.personRq" -->
  <xs:complexType name="crm.personRq">
    <xs:sequence>
      <xs:element name="typeRef">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:long"/>
            <xs:element minOccurs="0" name="parameters">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="code" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="patronymicName" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="maritalStatus" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="dateOfBirth" nillable="true" type="xs:date"/>
      <xs:element minOccurs="0" name="birthPlace" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="jobTitle" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="companyName" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="locale" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="relationTypeRef">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:long"/>
            <xs:element minOccurs="0" name="parameters">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="code" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="contacts">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="contact" nillable="true">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="id" type="xs:long"/>
                    <xs:attribute name="group" type="xs:string"/>
                    <xs:attribute name="type" type="xs:string"/>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!-- Type definition for "crm.registrationDocumentRs" -->
  <xs:complexType name="crm.registrationDocumentRs">
    <xs:sequence>
      <xs:element minOccurs="0" name="series" type="xs:string"/>
      <xs:element minOccurs="0" name="number" type="xs:string"/>
      <xs:element minOccurs="0" name="issueDate" type="xs:date"/>
      <xs:element minOccurs="0" name="expirationDate" type="xs:date"/>
      <xs:element minOccurs="0" name="issuingAuthority" type="xs:string"/>
      <xs:element name="type" type="slq:slr.codeNameRs"/>
      <xs:element name="attributes" type="slq:crm.attributes"/>
    </xs:sequence>
  </xs:complexType>
  <!-- Type definition for "crm.personRs" -->
  <xs:complexType name="crm.personRs">
    <xs:sequence>
      <xs:element name="type" type="slq:slr.codeNameRs"/>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
      <xs:element minOccurs="0" name="patronymicName" type="xs:string"/>
      <xs:element minOccurs="0" name="gender" type="xs:string"/>
      <xs:element minOccurs="0" name="maritalStatus" type="xs:string"/>
      <xs:element minOccurs="0" name="dateOfBirth" type="xs:date"/>
      <xs:element minOccurs="0" name="contacts">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="contact">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="type">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="id" type="xs:long"/>
                        <xs:element name="group" type="xs:string"/>
                        <xs:element name="type" type="xs:string"/>
                        <xs:element name="name" type="xs:string"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="value" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!-- Type definition for "cls.classifierRq" -->
  <xs:complexType name="cls.classifierRq">
    <xs:sequence>
      <xs:element minOccurs="0" name="classifierRef">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:long"/>
            <xs:element minOccurs="0" name="parameters">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="entityRef">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" name="parameters">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element maxOccurs="unbounded" minOccurs="0" name="parameter">
                                <xs:complexType>
                                  <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                      <xs:attribute name="code" type="xs:string"/>
                                    </xs:extension>
                                  </xs:simpleContent>
                                </xs:complexType>
                              </xs:element>
                              <xs:element name="entityTypeRef">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element minOccurs="0" name="id" type="xs:long"/>
                                    <xs:element minOccurs="0" name="parameters">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element name="code" type="xs:string"/>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="classifierTypeRef">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" name="id" type="xs:long"/>
                        <xs:element minOccurs="0" name="parameters">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="code" type="xs:string"/>
                              <xs:element minOccurs="0" name="entityTypeRef">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element minOccurs="0" name="id" type="xs:long"/>
                                    <xs:element minOccurs="0" name="parameters">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element name="code" type="xs:string"/>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                              <xs:element minOccurs="0" name="external">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element name="system" type="xs:string"/>
                                    <xs:element name="code" type="xs:string"/>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="entityRef">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:long"/>
            <xs:element minOccurs="0" name="parameters">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="parameter">
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="xs:string">
                          <xs:attribute name="code" type="xs:string"/>
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="entityTypeRef">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" name="id" type="xs:long"/>
                        <xs:element minOccurs="0" name="parameters">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="code" type="xs:string"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="typeRef">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:long"/>
            <xs:element minOccurs="0" name="parameters">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="code" type="xs:string"/>
                  <xs:element minOccurs="0" name="external">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="system" type="xs:string"/>
                        <xs:element name="code" type="xs:string"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="valueRef">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:long"/>
            <xs:element minOccurs="0" name="parameters">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="code" type="xs:string"/>
                  <xs:element minOccurs="0" name="external">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="system" type="xs:string"/>
                        <xs:element name="code" type="xs:string"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="comment" type="xs:string"/>
      <xs:element name="validFrom" type="xs:date"/>
      <xs:element minOccurs="0" name="validTo" type="xs:date"/>
    </xs:sequence>
  </xs:complexType>
  <!-- Type definition for "slr.headerProtocol" -->
  <xs:complexType name="slr.headerProtocol">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="version" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <!-- Type definition for "cls.classifierRs" -->
  <xs:complexType name="cls.classifierRs">
    <xs:sequence>
      <xs:element name="id" type="xs:long"/>
      <xs:element name="entity">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="type" type="slq:slr.codeNameRs"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="type" type="slq:slr.codeNameRs"/>
      <xs:element name="value" type="slq:slr.codeNameRs"/>
      <xs:element minOccurs="0" name="comment" type="xs:string"/>
      <xs:element name="validFrom" type="xs:date"/>
    </xs:sequence>
  </xs:complexType>
  <!-- Type definition for "slr.headerRs" -->
  <xs:complexType name="slr.headerRs">
    <xs:sequence>
      <xs:element minOccurs="0" name="duplicate" type="xs:boolean"/>
      <xs:element name="protocol">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="version" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="messageId" type="xs:string"/>
      <xs:element name="messageDate" type="xs:dateTime"/>
      <xs:element name="originator">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="system" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="receiver">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="system" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="responseParams">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="paging">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="page" type="xs:long"/>
                  <xs:element name="pageSize" type="xs:long"/>
                  <xs:element name="totalCount" type="xs:long"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!-- Type definition for "crm.documentRq" -->
  <xs:complexType name="crm.documentRq">
    <xs:sequence>
      <xs:element minOccurs="0" name="documentRef">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:long"/>
            <xs:element minOccurs="0" name="parameters">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="typeRef">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" name="id" type="xs:long"/>
                        <xs:element minOccurs="0" name="parameters">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="code" type="xs:string"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" name="series" type="xs:string"/>
                  <xs:element minOccurs="0" name="number" type="xs:string"/>
                  <xs:element minOccurs="0" name="issueDate" type="xs:date"/>
                  <xs:element minOccurs="0" name="expirationDate" type="xs:date"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="typeRef">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:long"/>
            <xs:element minOccurs="0" name="parameters">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="code" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="series" type="xs:string"/>
      <xs:element minOccurs="0" name="number" type="xs:string"/>
      <xs:element minOccurs="0" name="issueDate" type="xs:date"/>
      <xs:element minOccurs="0" name="expirationDate" type="xs:date"/>
      <xs:element minOccurs="0" name="issuingAuthority" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <!-- Type definition for "slr.headerRq" -->
  <xs:complexType name="slr.headerRq">
    <xs:sequence>
      <xs:element name="protocol" type="slq:slr.headerProtocol"/>
      <xs:element minOccurs="0" name="messageId" type="xs:string"/>
      <xs:element name="messageDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="locale" type="xs:string"/>
      <xs:element name="originator" type="slq:slr.headerParty"/>
      <xs:element name="receiver" type="slq:slr.headerParty"/>
      <xs:element minOccurs="0" name="responseParams">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="paging">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="page" type="xs:long"/>
                  <xs:element name="pageSize" type="xs:long"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="threshold" type="xs:long"/>
            <xs:element minOccurs="0" name="includes">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="include">
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="xs:boolean">
                          <xs:attribute name="data" type="xs:string"/>
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!-- Type definition for "crm.getClientListRqBody" -->
  <xs:complexType name="crm.getClientListRqBody">
    <xs:sequence>
      <xs:element name="clientRef" type="slq:crm.clientRef"/>
    </xs:sequence>
  </xs:complexType>
  <!-- Type definition for "crm.segmentRq" -->
  <xs:complexType name="crm.segmentRq">
    <xs:sequence>
      <xs:element minOccurs="0" name="segmentRef">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:long"/>
            <xs:element minOccurs="0" name="parameters">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="code" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!-- Type definition for "slr.codeNameRs" -->
  <xs:complexType name="slr.codeNameRs">
    <xs:sequence>
      <xs:element name="id" type="xs:long"/>
      <xs:element name="code" type="xs:string"/>
      <xs:element name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <!-- Type definition for "crm.attributes" -->
  <xs:complexType name="crm.attributes">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="attribute">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="code" type="xs:string"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!-- Type definition for "crm.clientRef" -->
  <xs:complexType name="crm.clientRef">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="parameters">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="number" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="identifier">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="code" type="xs:string"/>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="entityRef">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="parameters">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="parameter">
                          <xs:complexType>
                            <xs:simpleContent>
                              <xs:extension base="xs:string">
                                <xs:attribute name="code" type="xs:string"/>
                              </xs:extension>
                            </xs:simpleContent>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="entityTypeRef">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element minOccurs="0" name="id" type="xs:long"/>
                              <xs:element minOccurs="0" name="parameters">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element name="code" type="xs:string"/>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!-- Type definition for "crm.getClientRqBody" -->
  <xs:complexType name="crm.getClientRqBody">
    <xs:sequence>
      <xs:element name="clientRef" type="slq:crm.clientRef"/>
    </xs:sequence>
  </xs:complexType>
  <!-- Type definition for "crm.saveClientRqBody" -->
  <xs:complexType name="crm.saveClientRqBody">
    <xs:sequence>
      <xs:element name="client" type="slq:crm.clientRq"/>
    </xs:sequence>
  </xs:complexType>
  <!-- Type definition for "crm.addressRq" -->
  <xs:complexType name="crm.addressRq">
    <xs:sequence>
      <xs:element minOccurs="0" name="addressRef">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:long"/>
            <xs:element minOccurs="0" name="parameters">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="typeRef">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" name="id" type="xs:long"/>
                        <xs:element minOccurs="0" name="parameters">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="code" type="xs:string"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" name="country" type="xs:string"/>
                  <xs:element minOccurs="0" name="region" type="xs:string"/>
                  <xs:element minOccurs="0" name="city" type="xs:string"/>
                  <xs:element minOccurs="0" name="district" type="xs:string"/>
                  <xs:element minOccurs="0" name="street" type="xs:string"/>
                  <xs:element minOccurs="0" name="addressLine" type="xs:string"/>
                  <xs:element minOccurs="0" name="addressLine2" type="xs:string"/>
                  <xs:element minOccurs="0" name="addressLine3" type="xs:string"/>
                  <xs:element minOccurs="0" name="addressLine4" type="xs:string"/>
                  <xs:element minOccurs="0" name="houseNumber" type="xs:string"/>
                  <xs:element minOccurs="0" name="apartmentNumber" type="xs:string"/>
                  <xs:element minOccurs="0" name="postalCode" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="typeRef">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:long"/>
            <xs:element minOccurs="0" name="parameters">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="code" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="country" type="xs:string"/>
      <xs:element minOccurs="0" name="region" type="xs:string"/>
      <xs:element minOccurs="0" name="city" type="xs:string"/>
      <xs:element minOccurs="0" name="district" type="xs:string"/>
      <xs:element minOccurs="0" name="street" type="xs:string"/>
      <xs:element minOccurs="0" name="addressLine" type="xs:string"/>
      <xs:element minOccurs="0" name="addressLine2" type="xs:string"/>
      <xs:element minOccurs="0" name="addressLine3" type="xs:string"/>
      <xs:element minOccurs="0" name="addressLine4" type="xs:string"/>
      <xs:element minOccurs="0" name="houseNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="apartmentNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="postalCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <!-- Type definition for "crm.clientRq" -->
  <xs:complexType name="crm.clientRq">
    <xs:sequence>
      <xs:element name="clientRef" type="slq:crm.clientRef"/>
      <xs:element name="typeRef">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:long"/>
            <xs:element minOccurs="0" name="parameters">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="code" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="isResident" nillable="true" type="xs:boolean"/>
      <xs:element minOccurs="0" name="country" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="number" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="codeword" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="companyName" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="identifiers">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="identifier" nillable="true">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="id" type="xs:long"/>
                    <xs:attribute name="code" type="xs:string"/>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="attributes" type="slq:crm.attributes"/>
      <xs:element minOccurs="0" name="classifiers">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="classifier" type="slq:cls.classifierRq"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="documents">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="document" type="slq:crm.documentRq"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="addresses">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="address" type="slq:crm.addressRq"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="persons">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="person" type="slq:crm.personRq"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="segments">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="segment" type="slq:crm.segmentRq"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="additionalInfo">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="loyalty">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="programs">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="program">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="programRef">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element minOccurs="0" name="id" type="xs:long"/>
                                    <xs:element minOccurs="0" name="parameters">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element name="code" type="xs:string"/>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                              <xs:element name="status" type="xs:string"/>
                              <xs:element minOccurs="0" name="identifiers">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element maxOccurs="unbounded" name="identifier">
                                      <xs:complexType>
                                        <xs:simpleContent>
                                          <xs:extension base="xs:string">
                                            <xs:attribute name="id" type="xs:long"/>
                                            <xs:attribute name="code" type="xs:string"/>
                                          </xs:extension>
                                        </xs:simpleContent>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!-- Type definition for "slr.headerParty" -->
  <xs:complexType name="slr.headerParty">
    <xs:sequence>
      <xs:element name="system" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <!-- Type definition for "crm.clientRs" -->
  <xs:complexType name="crm.clientRs">
    <xs:sequence>
      <xs:element name="id" type="xs:long"/>
      <xs:element name="type" type="slq:slr.codeNameRs"/>
      <xs:element name="finInstitution" type="slq:slr.codeNameRs"/>
      <xs:element name="branch" type="slq:slr.codeNameRs"/>
      <xs:element minOccurs="0" name="isResident" type="xs:boolean"/>
      <xs:element minOccurs="0" name="country" type="xs:string"/>
      <xs:element minOccurs="0" name="number" type="xs:string"/>
      <xs:element minOccurs="0" name="companyName" type="xs:string"/>
      <xs:element minOccurs="0" name="identifiers">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="identifier">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="id" type="xs:long"/>
                  <xs:element name="type" type="slq:slr.codeNameRs"/>
                  <xs:element minOccurs="0" name="value" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="classifiers">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="classifier" type="slq:cls.classifierRs"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="persons">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="person" type="slq:crm.personRs"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="attributes" type="slq:crm.attributes"/>
      <xs:element minOccurs="0" name="addresses">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="address" type="slq:crm.addressRs"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="registrationDocuments">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="document" type="slq:crm.registrationDocumentRs"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="segments">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="segment" type="slq:slr.codeNameRs"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!-- Type definition for "crm.addressRs" -->
  <xs:complexType name="crm.addressRs">
    <xs:sequence>
      <xs:element name="type" type="slq:slr.codeNameRs"/>
      <xs:element minOccurs="0" name="street" type="xs:string"/>
      <xs:element minOccurs="0" name="district" type="xs:string"/>
      <xs:element minOccurs="0" name="city" type="xs:string"/>
      <xs:element minOccurs="0" name="country" type="xs:string"/>
      <xs:element minOccurs="0" name="postalCode" type="xs:string"/>
      <xs:element minOccurs="0" name="region" type="xs:string"/>
      <xs:element minOccurs="0" name="addressLine" type="xs:string"/>
      <xs:element minOccurs="0" name="addressLine2" type="xs:string"/>
      <xs:element minOccurs="0" name="addressLine3" type="xs:string"/>
      <xs:element minOccurs="0" name="addressLine4" type="xs:string"/>
      <xs:element minOccurs="0" name="houseNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="apartmentNumber" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <!-- Request element of saveClient -->
  <xs:element name="saveClientRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header" type="slq:slr.headerRq"/>
        <xs:element name="body" type="slq:crm.saveClientRqBody"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- Response element of saveClient -->
  <xs:element name="saveClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header" type="slq:slr.headerRs"/>
        <xs:element name="body">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="response">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="type" type="xs:string"/>
                    <xs:element name="code" type="xs:string"/>
                    <xs:element name="message" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="client">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="id" type="xs:long"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- Request element of getClient -->
  <xs:element name="getClientRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header" type="slq:slr.headerRq"/>
        <xs:element name="body" type="slq:crm.getClientRqBody"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- Response element of getClient -->
  <xs:element name="getClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header" type="slq:slr.headerRs"/>
        <xs:element name="body">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="response">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="type" type="xs:string"/>
                    <xs:element name="code" type="xs:string"/>
                    <xs:element name="message" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="client" type="slq:crm.clientRs"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- Request element of getClientList -->
  <xs:element name="getClientListRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header" type="slq:slr.headerRq"/>
        <xs:element name="body" type="slq:crm.getClientListRqBody"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- Response element of getClientList -->
  <xs:element name="getClientListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header" type="slq:slr.headerRs"/>
        <xs:element name="body">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="response">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="type" type="xs:string"/>
                    <xs:element name="code" type="xs:string"/>
                    <xs:element name="message" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="clients">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="client" type="slq:crm.clientRs"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getClientListRequest">
    <wsdl:part element="tns:getClientListRequest" name="getClientListRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getClientListResponse">
    <wsdl:part element="tns:getClientListResponse" name="getClientListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getClientResponse">
    <wsdl:part element="tns:getClientResponse" name="getClientResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveClientRequest">
    <wsdl:part element="tns:saveClientRequest" name="saveClientRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getClientRequest">
    <wsdl:part element="tns:getClientRequest" name="getClientRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveClientResponse">
    <wsdl:part element="tns:saveClientResponse" name="saveClientResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="crmApiServicePort">
    <wsdl:operation name="getClientList">
      <wsdl:input message="tns:getClientListRequest" name="getClientListRequest">
    </wsdl:input>
      <wsdl:output message="tns:getClientListResponse" name="getClientListResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClient">
      <wsdl:input message="tns:getClientRequest" name="getClientRequest">
    </wsdl:input>
      <wsdl:output message="tns:getClientResponse" name="getClientResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveClient">
      <wsdl:input message="tns:saveClientRequest" name="saveClientRequest">
    </wsdl:input>
      <wsdl:output message="tns:saveClientResponse" name="saveClientResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="crmApiServicePortSoap11" type="tns:crmApiServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getClientList">
      <soap:operation soapAction=""/>
      <wsdl:input name="getClientListRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getClientListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClient">
      <soap:operation soapAction=""/>
      <wsdl:input name="getClientRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getClientResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveClient">
      <soap:operation soapAction=""/>
      <wsdl:input name="saveClientRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="saveClientResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="crmApiService">
    <wsdl:port binding="tns:crmApiServicePortSoap11" name="crmApiServicePortSoap11">
      <soap:address location="http://sbdp-center-x69.bank.lan:9630/solar-bridge/ws/crmApiService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>